[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "==3.6.2"
mock = "==2.0.0"
pylint = "==1.9.2"

[packages]
websocket-client = "==0.46.0"
requests = "==2.18.4"
requests-futures = "==0.9.7"
requests-cache = "==0.4.13"
nltk = "==3.2.5"
bs4 = "==0.0.1"
html5lib = "==1.0.1"
configparser = "==3.5.0"
pandas = "==0.23.3"
pytz = "==2018.5"
python-dateutil = "==2.7.3"

[requires]
python_version = "3.6"

[scripts]
bot = "python3 main.py run"
cache = "python3 main.py cache"
replay = "python3 main.py replay"
get-wins = "python3 main.py get-wins"
generate-token = "python3 main.py generate-token"
test = "py.test"
lint = "pylint hqtrivia_bot"
